[Unit]
Description=Bluetooth listener 
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/bluetooth-listener/listen.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

